/* parallax*/
.footer-section {
  width: 100%;
  background: url("https://stellantis3.dam-broadcast.com/medias/domain12808/media100504/151270-u2odarsu87-whr.jpg") center center / cover no-repeat fixed;
  position: relative;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

/* overlay oscuro  */
.footer-overlay {
  background: rgba(0,0,0,0.65);
  padding: 80px 20px 40px;
}

/* contenedor columnas */
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

/* columna logo */
.footer-logo-col img {
  width: 180px;
  object-fit: contain;
}

/* columna contacto + redes */
.footer-contact-col h4 {
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-contact-col ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.footer-contact-col li {
  margin-bottom: 8px;
}

.footer-contact-col a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-contact-col a:hover {
  color: #ac1f1d;
}

/* redes  */
.footer-socials {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-socials a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #ac1f1d;
}

/* columna secciones/politicas */
.footer-links-col h4 {
  margin-bottom: 8px;
  font-weight: 700;
}

.footer-links-col ul {
  list-style: none;
  padding: 0;
}

.footer-links-col li {
  margin-bottom: 6px;
}

.footer-links-col a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links-col a:hover {
  color: #ac1f1d;
}

/* copyright centrado */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.footer-bottom a:hover {
  color: #ac1f1d;
}

/* RESPONSIVE */
@media(max-width: 999px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-col {
    margin-bottom: 20px;
  }

  .footer-socials {
    flex-direction: row;
    justify-content: center;
  }

  .footer-contact-col ul{
    flex-direction: column;
    align-items: center;
  }
}