/* seccion principal */
.ourservices-section{
  width:100%;
  padding:80px 20px;
  background:#ac1f1d; 
  color:#fff; 
}

/* contenedor central */
.ourservices-container{
  max-width:1400px;
  margin:0 auto;
  text-align:center; /
}

/* titulo con doble subrayado */
.ourservices-title{
  position: relative;
  display: inline-block;  
  margin-bottom:50px;
  color:#fff;
  font-size:2rem;
  font-weight:700;
}

/* pseudo-elementos para doble subrayado */
.ourservices-title::before,
.ourservices-title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

/* primera linea abajo del texto  h2*/
.ourservices-title::before {
  bottom: -6px;
}

/* segunda linea abajo del texto  h2 */
.ourservices-title::after {
  bottom: -10px;
}

/* grid responsive */
.ourservices-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:32px;
}

/* card individual */
.ourservices-card{
  background: rgba(255,255,255,0.03);
  padding: 28px 20px;
  border-radius: 12px;
  opacity: 1;           
  transform: translateY(0); 
  transition: none;     
}

/* fade-in  */
.ourservices-card.visible{
  opacity:1;
  transform:translateY(0);
}

/* icono */
.ourservices-icon{
  color:#fff; 
  margin-bottom:16px;
  transition:transform .3s ease;
}

/* tamaño de los SVG */
.ourservices-icon svg {
  width: 48px;
  height: 48px;
}

/* hover icono */
.ourservices-card:hover .ourservices-icon{
  transform:scale(1.2);
}

/* nombre */
.ourservices-name{
  margin-bottom:12px;
  word-wrap: break-word;
  font-weight:600;
}

/* descripción */
.ourservices-desc{
  font-size:1rem;
  opacity:.85;
  line-height:1.5;
  color:#fff; 
}

/* responsive */
@media(max-width:768px){
  .ourservices-card{
    padding:20px 16px;
  }
}